.error {
  text-align: center;
  h1 {
    color: $color-main;
    font-size: 320px;
    font-weight: 600;
    height: 320px;
    line-height: 320px;
    margin: 0 auto;
  }
  h2 {
    color: $color-main;
    font-size: 18px;
    margin: 0 auto 50px;
    line-height: 25px;
  }
  button {
    margin: 0 auto;
  }
}
