<div ng-controller="FooterCtrl">
  <div class="container">
    <div class="copyright">
      &copy; Copyright - Arimor Consulting
    </div>
    <ul class="footer-menu list-inline">
      <li ng-class="isActive('/contact-us')">
        <a href="/contact-us">{{ 'CONTACT.MENU_TITLE' | translate }}</a>
      </li>
      <li ng-class="isActive('/careers')">
        <a href="/careers">{{ 'CAREERS.MENU_TITLE' | translate }}</a>
      </li>
      <li>
        <a href="http://intranet.arimor-consulting.de/">{{ 'INTRANET.MENU_TITLE' | translate }}</a>
      </li>
      <li ng-class="isActive('/impressum')">
        <a href="/impressum">{{ 'IMPRESSUM.MENU_TITLE' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
