<div ng-controller="FooterCtrl">
  <div class="container">
    <div class="copyright">
      &copy; Copyright - Arimor Consulting
    </div>
    <ul class="footer-menu list-inline">
      <li ng-class="isActive('/contact-us')" ng-click="goTo('contact-us')">
        <a href="">{{ 'CONTACT_US.FOOTER_TITLE' | translate }}</a>
      </li>
      <li ng-class="isActive('/careers')" ng-click="goTo('careers')">
        <a href="">{{ 'CAREERS.FOOTER_TITLE' | translate }}</a>
      </li>
      <li>
        <a href="http://intranet.arimor-consulting.de/">{{ 'INTRANET.FOOTER_TITLE' | translate }}</a>
      </li>
      <li ng-class="isActive('/impressum')" ng-click="goTo('impressum')">
        <a href="">{{ 'IMPRESSUM.FOOTER_TITLE' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
