.careers .expertise-intro > div > p {
  margin-bottom: 5px;
}
.offers {
  margin-bottom: 40px;
}
h2.offer-title {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: $color-secondary-normal;
}