$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
/*$s3-font-path: "https://s3.amazonaws.com/arimorc/fonts/";*/

$color-main: rgb(154,187,89);
$color-main-opacity-6: rgba(154,187,89,.6);
$background-color: rgb(255,255,255);
$section-background-color: rgb(250,250,250);
$color-secondary-dark: rgb(68,68,68);
$color-secondary-normal: rgb(119,119,119);
$color-secondary-light: rgb(225,225,225);
$color-secondary-light2: rgb(228,228,228);
$color-secondary-lighter: rgb(240,240,240);
$page-margin: 0;
$header-top-height: 30px;
$header-main-height: 80px;
$footer-height: 80px;
$font-titles: 'Klavika-Light', sans-serif;
$font-texts: Helvetica, Arial, sans-serif;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@font-face{
  font-family: 'Klavika-Regular';
  src: url(/assets/fonts/Klavika-Regular.eot);
  src: url(/assets/fonts/Klavika-Regular.woff) format('woff'),
       url(/assets/fonts/Klavika-Regular.ttf) format('truetype'),
       url(/assets/fonts/Klavika-Regular.svg#Klavika-Regular) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family: 'Klavika-Medium';
  src: url(/assets/fonts/Klavika-Medium.eot);
  src: url(/assets/fonts/Klavika-Medium.woff) format('woff'),
       url(/assets/fonts/Klavika-Medium.ttf) format('truetype'),
       url(/assets/fonts/Klavika-Medium.svg#Klavika-Medium) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family: 'Klavika-Light';
  src: url(/assets/fonts/Klavika-Light.eot);
  src: url(/assets/fonts/Klavika-Light.woff) format('woff'),
       url(/assets/fonts/Klavika-Light.ttf) format('truetype'),
       url(/assets/fonts/Klavika-Light.svg#Klavika-Light) format('svg');
  font-weight:400;
  font-style:normal
}



/*******************
 * General Layout
 */

html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  padding-top: $header-top-height + $header-main-height;
  background-color: $background-color;
}
#main {
  min-height: 100%;
  margin: 0 auto -80px;  /* Negative margin-bottom must be equal to $footer-height */
  background-color: $background-color;
  padding: 70px 0 50px 40px;
  font-family: $font-texts;
  color: $color-secondary-dark;
} 
#footer, .push {
  height: $footer-height;
}


/*******************
 * Header Top
 */

#header-top {
  padding: 4px $page-margin 0;
  position: fixed;
  height: $header-top-height;
  top: 0;
  width: 100%;
  background-color: $color-main;
  opacity: .95;
  z-index: 1;
}
ul.top-menu {
  text-align: right;
}
ul.top-menu > li {
  padding: 0 10px;
  line-height: 10px;
}
ul.top-menu > li+li {
  border-left: 1px solid $color-secondary-light;
}
ul.top-menu > li > a {
  color: $color-secondary-light;
  font-family: $font-titles;
  font-size: 12px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
ul.top-menu > li > a:hover {
  color: #f1f1f1;
  text-decoration: none;
  border-bottom-color: #f1f1f1;
  -webkit-transition: border-bottom-color 300ms ease-in-out;
     -moz-transition: border-bottom-color 300ms ease-in-out;
      -ms-transition: border-bottom-color 300ms ease-in-out;
       -o-transition: border-bottom-color 300ms ease-in-out;
          transition: border-bottom-color 300ms ease-in-out;
}
ul.top-menu > li.active > a {
  color: #f1f1f1;
  text-decoration: none;
  border-bottom-color: #f1f1f1;
  cursor: default;
}


/*******************
 * Header Main
 */

#header-main {
  padding: 0 $page-margin;
  position: fixed;
  height: $header-main-height;
  top: $header-top-height;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid $color-main;
  background-color: $background-color;
  opacity: .95;
}
.logo {
  display: inline-block;
  float: left;
}
ul.main-menu {
  display: inline-block;
  float: right;
  margin: 46px 0 0;
}
ul.main-menu > li {
  height: 40px;
  margin: 0;
  /*margin: 0 -2px;*/
  padding: 7px 12px;
  border: 0;
  outline: 0;
  background-color: transparent;
}
ul.main-menu > li > a {
  color: $color-main;
  opacity: .7;
  font-family: $font-titles;
  font-size: 18px;
  text-decoration: none;
  border: none;
  outline: none;
}
ul.main-menu > li:hover {
  background-color: $color-main;
  opacity: .8;
  -webkit-transition: background-color 300ms ease-in-out;
     -moz-transition: background-color 300ms ease-in-out;
      -ms-transition: background-color 300ms ease-in-out;
       -o-transition: background-color 300ms ease-in-out;
          transition: background-color 300ms ease-in-out;
}
ul.main-menu > li:hover > a {
  color: white;
}
ul.main-menu > li.active {
  background-color: $color-main;
  opacity: .8;
}
ul.main-menu > li.active > a {
  color: white;
  text-decoration: none;
  cursor: default;
}


/*******************
 * Footer
 */

#footer {
  padding: 35px $page-margin;
  background-color: $background-color;
  border-top: 1px solid $color-main;
}
.copyright {
  display: inline-block;
  float: left;
  font-family: $font-titles;
  font-size: 14px;
  color: $color-secondary-dark;
}
ul.footer-menu {
  display: inline-block;
  float: right;
}
ul.footer-menu > li,
ul.footer-menu > li > a {
  font-family: $font-titles;
  font-size: 14px;
  color: $color-secondary-normal;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
ul.footer-menu > li > a:hover {
  color: $color-secondary-dark;
  text-decoration: none;
  border-bottom-color: $color-secondary-dark;
  -webkit-transition: border-bottom-color 300ms ease-in-out;
     -moz-transition: border-bottom-color 300ms ease-in-out;
      -ms-transition: border-bottom-color 300ms ease-in-out;
       -o-transition: border-bottom-color 300ms ease-in-out;
          transition: border-bottom-color 300ms ease-in-out;
}
ul.footer-menu > li.active > a {
  color: $color-secondary-dark;
  text-decoration: none;
  border-bottom-color: $color-secondary-dark;
  cursor: default;
}


/*******************
 * Pages
 */

#main p,
#main ul > li {
  font-family: $font-texts;
  line-height: 26px;
  font-weight: 100;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: $font-titles;
}

.section-default {
  background-color: $section-background-color;
  padding: 10px;
}
.section-default > header {
  padding-right: 10px;
}
.section-default > header > h1 {
  font-size: 36px;
  background-color: $color-main;
  opacity: .8;
  color: $background-color;
  padding: 12px 33px 5px;
  margin: 15px 0px 30px -44px;
  display: inline-block;
}
.section-default > div {
  padding: 0 20px;
}
.section-default > div > h2 {
  color: $color-main;
  font-size: 30px;
}



// Component styles are injected through grunt
// injector
@import 'about-us/about-us.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'careers/careers.scss';
@import 'contact-us/contact-us.scss';
@import 'expertise/expertise.scss';
@import 'impressum/impressum.scss';
@import 'main/main.scss';
@import 'references/references.scss';
@import 'modal/modal.scss';
// endinjector