$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$color-main: #9abb59;
$color-secondary-dark: #333333;
$color-secondary-normal: #777777;
$color-secondary-light: #e1e1e1;
$color-secondary-light2: #e4e4e4;
$color-secondary-lighter: #aaaaaa;
$page-margin: 0;
$header-top-height: 30px;
$header-main-height: 80px;
$footer-height: 80px;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/*******************
 * General Layout
 */

html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  padding-top: $header-top-height + $header-main-height;
}
#main {
  min-height: 100%;
  margin: 0 auto -80px;  /* Negative margin-bottom must be equal to $footer-height */
  background-color: $color-secondary-light2;
  padding: 30px $page-margin;
} 
#footer, .push {
  height: $footer-height;
}


/*******************
 * Header Top
 */

#header-top {
  padding: 4px $page-margin 0;
  position: fixed;
  height: $header-top-height;
  top: 0;
  width: 100%;
  background-color: $color-main;
  opacity: .95;
  z-index: 1;
}
ul.top-menu {
  text-align: right;
}
ul.top-menu > li {
  padding: 0 10px;
  line-height: 10px;
}
ul.top-menu > li+li {
  border-left: 1px solid #e1e1e1;
}
ul.top-menu > li > a {
  color: #e1e1e1;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
ul.top-menu > li > a:hover {
  color: #f1f1f1;
  text-decoration: none;
  border-bottom-color: #f1f1f1;
  -webkit-transition: border-bottom-color 300ms ease-in-out;
     -moz-transition: border-bottom-color 300ms ease-in-out;
      -ms-transition: border-bottom-color 300ms ease-in-out;
       -o-transition: border-bottom-color 300ms ease-in-out;
          transition: border-bottom-color 300ms ease-in-out;
}
ul.top-menu > li.active > a {
  color: #f1f1f1;
  text-decoration: none;
  border-bottom-color: #f1f1f1;
  cursor: default;
}


/*******************
 * Header Main
 */

#header-main {
  padding: 0 $page-margin;
  position: fixed;
  height: $header-main-height;
  top: $header-top-height;
  width: 100%;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-bottom: 1px solid $color-main;
}
.logo {
  display: inline-block;
  float: left;
}
ul.main-menu {
  display: inline-block;
  float: right;
  /*margin-top: 30px;*/
}
ul.main-menu > li {
  height: 82px;
  padding-top: 30px;
  margin: 0 5px;
  /*padding: 0 10px;*/
  /*line-height: 18px;*/
  border-bottom: 5px solid transparent;
}
ul.main-menu > li > a {
  color: $color-main;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 4px;
  text-decoration: none;
}
ul.main-menu > li:hover {
  border-bottom-color: $color-main;
  -webkit-transition: border-bottom-color 300ms ease-in-out;
     -moz-transition: border-bottom-color 300ms ease-in-out;
      -ms-transition: border-bottom-color 300ms ease-in-out;
       -o-transition: border-bottom-color 300ms ease-in-out;
          transition: border-bottom-color 300ms ease-in-out;
}
ul.main-menu > li.active {
  border-bottom-color: $color-main;
}
ul.main-menu > li.active > a {
  text-decoration: none;
  cursor: default;
}


/*******************
 * Footer
 */

#footer {
  padding: 35px $page-margin;
  /*background-color: $color-secondary-dark;*/
  background-color: rgba(255,255,255,1);
  border-top: 1px solid $color-main;
}
.copyright {
  display: inline-block;
  float: left;
}
ul.footer-menu {
  display: inline-block;
  float: right;
}
ul.footer-menu > li,
ul.footer-menu > li > a {
  line-height: 10px;
  color: $color-secondary-lighter;
}


// Component styles are injected through grunt
// injector
@import 'about-us/about-us.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'careers/careers.scss';
@import 'contact-us/contact-us.scss';
@import 'expertise/expertise.scss';
@import 'impressum/impressum.scss';
@import 'main/main.scss';
@import 'references/references.scss';
@import 'modal/modal.scss';
// endinjector