<div ng-controller="NavbarCtrl">
  <div id="header-top">
    <div class="container">
      <ul class="top-menu list-inline">
        <li class="{{ 'EN_SELECTED' | translate}}">
          <a ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" href="#"></a>
        </li>
        <li class="{{ 'DE_SELECTED' | translate}}">
          <a ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE" href="#"></a>
        </li>
        <li class="{{ 'FR_SELECTED' | translate}}">
          <a ng-click="changeLanguage('fr')" translate="BUTTON_LANG_FR" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="header-main">
    <div class="container">
      <div class="logo">
        <h1 class="sr-only">Arimor Consulting</h1>
        <img src="assets/images/arimor_consulting_logo_colors_expanded.png" alt="ArimorC logo">
      </div>
      <ul class="main-menu list-inline">
        <li ng-class="isActive('/')" ng-click="goTo('main')">
          <a href="">{{ 'HOME.MENU_TITLE' | translate }}</a>
        </li>
        <li ng-class="isActive('/our-expertise')" ng-click="goTo('expertise')">
          <a href="">{{ 'EXPERTISE.MENU_TITLE' | translate }}</a>
        </li>
        <li ng-class="isActive('/references')" ng-click="goTo('references')">
          <a href="">{{ 'REFERENCES.MENU_TITLE' | translate }}</a>
        </li>
        <li ng-class="isActive('/about-us')" ng-click="goTo('about-us')">
          <a href="">{{ 'ABOUT_US.MENU_TITLE' | translate }}</a>
        </li>
        <li ng-class="isActive('/contact-us')" ng-click="goTo('contact-us')">
          <a href="">{{ 'CONTACT_US.MENU_TITLE' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- 
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE" href=""></a></li>
        <li><a ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" href=""></a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
 -->