.section-default > div > h2.about-subtitle {
  font-size: 34px;
  margin: 10px 0 15px 50px;
  position: relative;
  z-index: 1;
  font-size: 34px;
}

.about-intro {
  position: relative;
  margin-bottom: 60px;
}
.about-intro img {
  width: 84%;
  margin-left: 30px;
}
.about-intro > div {
  width: 83%;
  position: absolute;
  top: -30px;
  left: 120px;
}
.about-intro > div > div {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 25px;
  padding: 30px;
}
.about-intro > div > div > p {
  font-size: 21px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  line-height: 30px;
  margin: 0;
}
.about-intro > div > button {
  float: right;
  margin-top: 20px;
}

.team-member-left,
.team-member-right { 
  position: relative;
  img {
    width: 300px;
  }
  h2 {
    position: absolute;
    top: 0;
    border: 3px solid $color-main;
    color: $color-main;
    font-size: 27px;
    padding: 10px 30px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
  }
  p {
    position: absolute;
    top: 90px;
    background-color: rgba(255,255,255,.9);
    padding: 20px 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 19px;
    text-align: left;
  }
}

.team-member-left { 
  text-align: left;
  margin: 20px 0 70px;
  img {
    margin-left: 20px;
  }
  h2 {
    left: 350px;
  }
  p {
    right: 60px;
    left: 280px;
    width: auto;
  }
}

.team-member-right {
  text-align: right;
  margin: 30px 0;
  img {
    margin: -50px 20px 50px 0;
  }
  h2 {
    right: 350px;
  }
  p {
    left: 100px;
    right: 280px;
    width: auto;
  }
}
