.section-default > div > h2.about-subtitle {
  font-size: 34px;
  margin: 10px 0 15px 60px;
  position: relative;
  z-index: 1;
  font-size: 34px;
}

.about-intro {
  position: relative;
  margin-bottom: 60px;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 30px;
  }
  & > div {
    position: absolute;
    width: 66%;
    top: -46px;
    right: 58px;
    button {
      float: right;
      margin-top: 20px;
    }
    & > div {
      background-color: rgba(255, 255, 255, 0.9);
      font-size: 25px;
      padding: 30px;
      & > p {
        font-size: 21px;
        text-align: center;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        line-height: 30px;
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.team-member-left,
.team-member-right { 
  position: relative;
  img {
    width: 300px;
  }
  h2 {
    position: absolute;
    top: 0;
    border: 3px solid $color-main;
    color: $color-main;
    font-size: 27px;
    padding: 10px 30px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
  }
  p {
    position: absolute;
    top: 90px;
    background-color: rgba(255,255,255,.9);
    padding: 20px 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 19px;
    text-align: left;
  }
  .read-bio {
    display: none;
  }
}

.team-member-left { 
  text-align: left;
  margin: 20px 0 70px;
  img {
    margin-left: 20px;
  }
  h2 {
    left: 350px;
  }
  p {
    right: 60px;
    left: 280px;
    width: auto;
  }
}

.team-member-right {
  text-align: right;
  margin: 30px 0;
  img {
    margin: -50px 20px 50px 0;
  }
  h2 {
    right: 350px;
  }
  p {
    left: 100px;
    right: 280px;
    width: auto;
  }
}


/*******************
 * RESPONSIVE DESIGN
 */

@media (max-width: 1200px) {
  .about-intro {
    margin-bottom: 100px;
    img {
      max-width: 92%;
    }
    & > div {
      position: absolute;
      width: 72%;
      top: 20px;
      right: 5px;
      & > div {
        padding: 22px;
        p {
          font-size: 20px;
        }
      }
    }
  }
  .team-member-left p {
    right: 0px;
    font-size: 18px;
    line-height: 25px;
    img {
      margin-bottom: 20px;
    }
  }
  .team-member-right p {
    left: 0px;
    font-size: 18px;
    line-height: 25px;
  }
}

// @media (min-width: 778px) and (max-width: 992px) {
@media (max-width: 992px) {
  .about-intro > div button {
    display: none;
  }
  .about-intro {
    text-align: right;
    margin-bottom: 135px;
    & > div {
      right: inherit;
      width: 100%;
    }
  }
  .team-member-left {
    margin-bottom: -230px;
    p {
      position: relative;
      top: -300px;
      right: 0;
      width: 50%;
    }
  }
  .team-member-right {
    margin-bottom: 0;
    h2 {
      top: -40px;
    }
    p {
      margin-bottom: -80px;
      position: relative;
      width: 52%;
      top: -340px;
      left: 0;
      right: 0;
    }
  }
}

@media (max-width: 778px) {
  #main {
    .team-member-left, .team-member-left *, .team-member-right, .team-member-right * {
      position: static;
      display: block;
      left: inherit;
      right: inherit;
      bottom: inherit;
      top: inherit;
      margin: 0;
      padding: 0;
    }
  }
  .section-default > div > h2.about-subtitle {
    margin-left: 0;
  }
  .about-intro {
    margin-bottom: 35px;
    img {
      max-width: 100%;
      margin: 0;
    }
    & > div {
      position: relative;
      top: inherit;
      margin-top: -60px;
      div {
        padding: 15px;
        p {
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  }
  #main .team-member-left {
    margin: 25px auto -25px;
  }
  #main .team-member-left, 
  #main .team-member-right {
    img {
      max-width: 80%;
      margin: 15px auto;
    }
    h2 {
      padding: 10px 30px;
    }
    p {
      width: 100%;
      padding: 15px;
      top: -70px;
      margin: 0 auto;
      // margin: -70px auto 40px;
      z-index: 1;
      position: relative;
    }
    .read-bio {
      display: block;
      cursor: pointer;
      span {
        display: inline;
      }
      svg {
        display: inline;
        margin: 0 0 -3px 10px;
      }
    }
    .biography {
      display: none;
    }
  }
}
