.home-about > div {
  position: relative;
}
.home-about img {
  width: auto;
  margin: 0 0 20px 40px;
}
.home-tagline {
  width: 55%;
  position: absolute;
  top: 80px;
  height: 200px;
  right: 45px;
  background-color: rgba(255,255,255,.9);
  display: table; 
  padding: 20px 30px;
  .home-tagline-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    p {
      text-align: left;
      font-size: 23px;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
      line-height: 32px;
      margin-bottom: 5px;
    }
    .tagline-keyword {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      .keyword {
        color: $color-main;
      }
    }
    .tagline-quote {
      color: $color-main;
      font-style: italic;
      margin-bottom: 0;
    }
    .tagline-author {
      color: $color-secondary-button;
      font-style: italic;
    }
  }
}
.home-main-button {
  width: 55%;
  position: absolute;
  top: 290px;
  right: 65px;
  button {
    float: right;
    margin-top: 15px;
  }
}

// Change Carousel default settings
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.right.carousel-control span, .left.carousel-control span {
  display: none;
}
.carousel-indicators li, .carousel-indicators li.active {
  margin-right: 4px;
}


.home-news {
  padding-bottom: 20px;
}
.article-item {
  margin-bottom: 10px;
}
.article-item h3 {
  color: $color-main;
  font-size: 23px;
  border-bottom: 2px solid $color-main;
}
.article-intro {
  height: 78px;
  overflow: hidden;
}

button.big-button.medium-button {
  margin-left: 0;
  margin-bottom: 0;
  padding: 7px 15px 3px;
}
button.big-button.medium-button span {
  font-size: 14px;
  top: -3px;
}
button.big-button.medium-button svg {
  height: 17px;
}
button.big-button.down-button:hover svg {
  margin: 3px 0px -3px 0px;
}
button.big-button.down-button svg {
  width: 18px;
}

.home-links button {
  margin: 0 30px 60px 0;
}


/*******************
 * RESPONSIVE DESIGN
 */

@media (min-width: 992px) {
  .carousel-inner > .item:nth-child(2) .home-tagline  {
    right: 120px;
  }
  .carousel-inner > .item:nth-child(3) .home-tagline  {
    left: 20px;
    right: inherit;
  }
}
@media (min-width: 1200px) {
  .carousel-inner > .item:nth-child(2) .home-tagline  {
    right: 200px;
  }
}

@media (max-width: 1200px) {
  .home-tagline {
    width: 65%;
  }
}
@media (max-width: 992px) {
  #header-top > .container, #header-main > .container {
    padding: 0;
  }
  .home-tagline {
    width: 80%;
    top: 60px;
    height: 200px;
    right: 0;
    p {
      font-size: 20px;
    }
  }
  .home-main-button {
    top: 270px;
    right: 20px;
  }
}
@media (max-width: 778px) {
  .home-main-button {
    display: none;
  }
  .home-about img {
    margin: 0;
  }
  .home-about .home-tagline {
    position: inherit;
    width: 100%;
    height: 180px;
    padding: 10px;
    top: inherit;
    right: inherit;
    margin-bottom: 10px;
    p {
      font-size: 16px;
      line-height: 25px;
    }
    .tagline-keyword {
      font-size: 18px;
      .keyword {
        font-weight: 500;
        // display: block;
      }
    }
    p.tagline-quote {
      display: inline;
    }
    .tagline-author {
      display: inline;
      margin-left: 5px;
      &:before {
        content: '_ ';
      }
    }
  }
  .home-news.section-default > header > h1 {
    margin-bottom: 10px;
  }
  .carousel-indicators {
    bottom: -10px;
  }
  .home-links button {
    display: block;
    margin-bottom: 30px;
  }
}
