<div ng-show="loading" class="loading">
  <img ng-src="/assets/images/loading-spinner.svg">
  <div class="hide-footer"></div>
</div>

<div class="col-md-12" ng-show="!loading">
  <section class="section-default home-about">
    <header>
      <h1>{{ 'HOME.INTRO.TITLE' | translate }}</h1>
    </header>
    <div>
      <carousel interval="5000">
        <slide>
          <img ng-src="/assets/images/sample-ski-1.jpg" imageonload="displayPage()">
          <div class="home-tagline">
            <p ng-bind-html=" 'HOME.INTRO.TAGLINE_1' | translate "></p>
          </div>
        </slide>
        <slide >
          <img ng-src="/assets/images/sample-ski-5.jpg">
          <div class="home-tagline">
            <p ng-bind-html=" 'HOME.INTRO.TAGLINE_2' | translate "></p>
          </div>
        </slide>
        <slide>
          <img ng-src="/assets/images/sample-ski-8.jpg">
          <div class="home-tagline">
            <p ng-bind-html=" 'HOME.INTRO.TAGLINE_3' | translate "></p>
          </div>
        </slide>
      </carousel>
      <div class="home-main-button">
        <button href="/about-us" class="btn big-button" ng-click="goTo('expertise')">
          <span>{{ 'HOME.INTRO.READ_MORE_BUTTON' | translate }}</span>
          <svg id="right-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="22.636px" viewBox="0 0 17.079 29.738" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="0.336,0.371 16.334,14.869 0.336,29.367 "></polyline></svg>
        </button>
      </div>
    </div>
  </section>

  <section class="section-default home-news">
    <header>
      <h1>{{ 'HOME.NEWS.TITLE' | translate }}</h1>
    </header>
    <div class="row">
      <div class="col-md-6 article-item" ng-repeat="article in articles">
        <h3 ng-bind-html="article.title"></h3>
        <p ng-bind-html="article.content" class="article-intro"></p>
        <button class="btn big-button medium-button" ng-click="open(article)">
          <span>{{ 'HOME.NEWS.READ_MORE_BUTTON' | translate }}</span>
          <svg id="right-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="22.636px" viewBox="0 0 17.079 29.738" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="0.336,0.371 16.334,14.869 0.336,29.367 "></polyline></svg>
        </button>
      </div>
    </div>
  </section>
</div>
<h1>{{test}}</h1>

<script type="text/ng-template" id="article.html">
  <h3 ng-bind-html="article.title"></h3>
  <p ng-bind-html="article.content"></p>
</script>
