.expertise-intro {
  margin-bottom: 80px;
  text-align: right;
  position: relative;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  & > div {
    width: 55%;
    position: absolute;
    top: 60px;
    div {
      background-color: rgba(255,255,255,.9);
      padding: 30px 40px;
      p {
        font-size: 21px;
        text-align: center;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        line-height: 30px;
        margin: 0;
      }
    }
    button {
      float: right;
      margin-top: 20px;
    }
  }
}
.expertise-items {
  margin-bottom: 30px;
  .item {
    display: inline-block;
    width: 45%;
    background-color: rgba(255,255,255,1);
    padding: 30px 33px;
    vertical-align: top;
    position: relative;
    margin-bottom: 30px;
    h2 {
      font-size: 27px;
      color: $color-main;
    }
    .content {
      ul {
        padding-left: 15px;
        li {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
    .read-more {
      display: none;
    }
  }
  .item:nth-child(2n+1) {
    margin-right: 3%;
    margin-top: 20px;
  }
  .item:nth-child(2n) {
    margin-top: 60px;
  }
}
.expertise-number {
  position: absolute;
  display: block;
  border: 3px solid $color-main;
  top: -16px;
  left: 33px;
  width: 32px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}


/*******************
 * RESPONSIVE DESIGN
 */

@media (max-width: 1200px) {
  .expertise-intro {
    & > div {
      width: 70%;
    }
    img {
      width: auto;
      max-width: 92%;
    }
  }
}

@media (max-width: 992px) {
  .expertise-intro {
    margin-bottom: 80px;
    & > div {
      width: 100%;
      button {
        display: none;
      }
    }
  }
  .expertise-items {
    .item {
      padding-bottom: 10px;
      margin: 20px 0 !important;
      width: 100%;
    }
    .item:nth-child(2n) .expertise-number {
      left: inherit;
      right: 33px;
    }
  }
}

@media (max-width: 778px) {
  .expertise-intro {
    margin-bottom: 40px;
    img {
      max-width: 100%;
    }
    & > div {
      position: inherit;
      top: inherit;
      margin-top: 10px;
      div {
        padding: 15px;
        p {
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  }
  .expertise-items {
    .item {
      .content {
        display: none;
      }
      .read-more {
        cursor: pointer;
        display: block;
        svg {
          margin: 0 0 -3px 10px;
          stroke: $color-secondary-dark;
        }
      }
    }
  }
}