.expertise-intro {
  margin-bottom: 80px;
  text-align: right;
  position: relative;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  & > div {
    width: 55%;
    position: absolute;
    top: 60px;
    div {
      background-color: rgba(255,255,255,.9);
      padding: 30px 40px;
      p {
        font-size: 21px;
        text-align: center;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        line-height: 30px;
        margin: 0;
      }
    }
    button {
      float: right;
      margin-top: 20px;
    }
  }
}
.row.expertise-items {
  margin-bottom: 30px;
  .col-xs-6 > div {
    // display: inline-block;
    // width: 23%;
    background-color: rgba(255,255,255,1);
    padding: 30px 33px;
    vertical-align: top;
    position: relative;
    margin-bottom: 30px;
    // height: 320px;
    // & + div {
    //   margin-left: 2%;
    // }
    h2 {
      font-size: 27px;
      color: $color-main;
    }
    ul {
      padding-left: 15px;
    }
  }
  div:nth-child(2n) {
    margin-top: 40px;
  }
  // div:nth-child(3) {
  //   margin-top: 60px;
  // }
  // div:nth-child(4) {
  //   margin-top: 90px;
  // }
}
.expertise-number {
  position: absolute;
  display: block;
  border: 3px solid $color-main;
  top: -16px;
  left: 33px;
  width: 32px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}
