.expertise-intro {
  margin-bottom: 50px;
  text-align: right;
  position: relative;
}
.expertise-intro > img {
  width: 60%;
}
.expertise-intro > div {
  width: 60%;
  position: absolute;
  bottom: 30px;
  background-color: rgba(255,255,255,.9);
  font-size: 25px;
  padding: 20px 30px;
}
.expertise-intro > div > p {
  font-size: 21px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  line-height: 30px;
  margin: 0;
}

.expertise-items > div {
  display: inline-block;
  width: 23%;
  background-color: rgba(255,255,255,1);
  padding: 30px 33px;
  vertical-align: top;
  position: relative;
  margin-bottom: 30px;
  height: 320px
}
.expertise-items > div + div {
  margin-left: 2%;
}
.expertise-items > div:nth-child(2) {
  margin-top: 30px;
}
.expertise-items > div:nth-child(3) {
  margin-top: 60px;
}
.expertise-items > div:nth-child(4) {
  margin-top: 90px;
}
.expertise-items > div > h2 {
  font-size: 27px;
  color: $color-main;
}
.expertise-number {
  position: absolute;
  display: block;
  border: 3px solid $color-main;
  top: -16px;
  left: 33px;
  width: 32px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}
